:root {
  --secondary-color: #2c3e50;
  --light-primary-color: #34495e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: Roboto;
}


.Layout {
  /* border: 4px solid rgb(144, 11, 141); */
  position: relative;
  min-height: 100vh;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "principal"
    "footer";
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 1fr;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #34495e;
  color: white;
  padding: 20px;
  z-index: 1001;
}

/* Estilos de la navegacion  */



/* Estilos del contenido */
.contenido {
  grid-area: contenido;
  border: 2px solid blue;
}



.footer {
  grid-area: footer;
}

/* Prueba
 */


/* Overlay que cubre toda la pantalla */
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

/* Menú lateral */
.side-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2c3e50;
  color: white;
  transition: transform 0.3s ease;
  z-index: 999;
  transform: translateX(-100%);
}

.side-menu.open {
  transform: translateX(0);
}

.side-menu.closed {
  transform: translateX(-100%);
}

/* Navegación */
.navegacion {
  padding: 20px;
  margin-top: 60px;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list li {
  margin-bottom: 10px;
}

.nav-list a {
  display: block;
  color: white;
  font-size: 50px;
  font-weight: 500;
  text-decoration: none;
  padding: 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-item {
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 10px;
}

.nav-item:hover {
  background-color: #34495e;
}


.header-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-toggle-btn {
  background: none;
  border: 2px solid white;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 30px;
  /* z-index: 1001; */
  transition: all 300 ms ease;
}

.menu-toggle-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}



.icono {
  height: 50px;
  width: 50px;
  font-size: 50px;
  font-weight: 200;
}