:root {
  --secondary-color: #212121;
  --blue-color: #0f61dc;
  --dark-blue-color: #093679;
  --border-line-color: #bababa;
  --section-color: #f6f6f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


.Layout {
  /* border: 4px solid rgb(144, 11, 141); */
  position: relative;
  min-height: 100vh;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "principal"
    "footer";
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 1fr;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  color: white;
  padding: 20px;
  z-index: 1001;
}

/* Estilos de la navegacion  */



/* Estilos del contenido */
.contenido {
  grid-area: contenido;
  border: 2px solid blue;
}



.footer {
  grid-area: footer;
}

/* Prueba
 */


/* Overlay que cubre toda la pantalla */
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

/* Menú lateral */
.side-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.9;
  color: white;
  transition: transform 0.3s ease;
  z-index: 999;
  transform: translateX(-100%);
}

.side-menu.open {
  transform: translateX(0);
}

.side-menu.closed {
  transform: translateX(-100%);
}

/* Navegación */
.navegacion {
  padding: 20px;
  margin-top: 60px;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list li {
  margin-bottom: 10px;
}

.nav-list a {
  display: block;
  color: white;
  font-size: 50px;
  font-weight: 300;
  text-decoration: none;
  padding: 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-item {
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 10px;
}

.nav-item:hover {
  background-color: var(--secondary-color);
}


.header-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-toggle-btn {
  background: none;
  border: 2px solid white;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 30px;
  /* z-index: 1001; */
  transition: all 300 ms ease;
}

.menu-toggle-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}



.icono {
  height: 35px;
  width: 35px;
}

/* componente locatario */
.locatario-layout {
  border: 2px solid red;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;

}

.titulo {
  font-size: 50px;
  color: var(--blue-color);
}

.contenedor-botones {
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.boton-primario {
  background-color: var(--blue-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.boton-primario:hover {
  background-color: var(--dark-blue-color);
}

.resumen-layout,
.menu-layout {
  margin-top: 20px;
  border: 1px solid var(--border-line-color);
  background-color: var(--section-color);
  padding: 10px 15px;
  border-radius: 10px;
}

.subtitulo {
  font-size: 20px;
  font-weight: 600;
}