* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: Roboto;
}

.Layout {
  border: 4px solid rgb(144, 11, 141);
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "navegacion"
    "footer";
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 1fr;
}

.header {
  grid-area: header;
  border: 2px solid green;
}

/* Estilos de la navegacion  */
.navegacion-layout {
  grid-area: navegacion;
  display: flex;
  border: 2px solid red;
  background-color: red;
}

.navegacion {
  background-color: #f5f5f5;
  width: 150px;
  height: 100%;
}

/* Estilos del contenido */
.contenido {
  grid-area: contenido;
  border: 2px solid blue;
}

.principal {
  background-color: green;
  width: 100%;
  height: 100%;
}

.footer {
  grid-area: footer;
}